.login-card {
  background: #222527 !important;
  text-align: center;
}
.login-card input[type='email'],
.login-card input[type='password'] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2979ff;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.login-card input[type='email']:focus,
.login-card input[type='password']:focus {
  width: 280px;
  border-color: #00e676;
}
.login-card input[type='submit'] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #00e676;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.login-card input[type='submit']:focus {
  background: #00e676;
}
.login-card input[type='submit']:hover {
  background: #00e676;
}
.login-card a {
  color: #2979ff !important;
}
.login-card h4 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.login-card input[type='submit']:disabled:hover {
  color: #525151;
  background: #252525;
}
